.topnav {
    background-color: rgb(39, 39, 65);
    background: -webkit-linear-gradient(to right, rgb(22, 22, 42), rgb(48, 48, 63));
    background: linear-gradient(to right, rgb(22, 22, 42), rgb(48, 48, 63));
    padding: 50px;
    text-decoration: none;
    font-family: 'myFont';
}

.topnav a {
    color: white;
    text-align: right;
    padding: 25px;
    margin: 25px;
    text-decoration: none;
    margin-right: 50px;
}

@font-face {
    font-family: 'myFont';
    src:url(RushTurbo.ttf);
    display: none;
}

video#trailer {
    height: 500px;
    width: auto;
    display: block;
    pointer-events: none;
}

h1 {
    justify-content: flex-end;
    float: right;
    display: flex;
    margin: 100px;
    margin-top: -500px;
    text-align: center;
}